{% extends 'base.html.twig' %}

{% block body %}
    <div class="container">
        <div class="navbar fixed-top navbar-default bg-light">
            <a class="navbar-brand" href=  "{{ path('login') }}">login</a>
        </div>
    </div>
{% endblock %}